<!DOCTYPE html>
<html>
  <head>
    <meta name="viewpoint" content="width=device-width, initial-scalre= 1">
    <title>CRUD for geoquiz</title>


        <!-- Load React. -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <!-- <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script> -->
        <!-- <script src="https://unpkg.com/@material-ui/core/umd/material-ui.production.min.js" crossorigin="anonymous"></script> -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <!-- Load our React component. -->
        <!-- <script src="like_button.js"></script> -->
        <!--  -->
        <script type="text/javascript">

        </script>

  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Update</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Add new misspelling</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
    <% var data
        var nameIndex
        var capIndex
        var nameLength
        var capitalLength %>
    <div class="container">
      <form method="GET" action="/getCountryInfo">
          Enter country name: <input id="countryName" name="countryName" type="text">
         <input type="submit" value="submit">
      </form>

    <%if (data != undefined){ %>
        <% data = data[0] %>
      <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Content</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Continent</th>
          <td><%= data.properties.continent %></td>
        </tr>
        <tr>
          <th scope="row">Capital</th>
          <td><%= data.properties.capital %></td>
        </tr>
        <tr>
          <th scope="row">Country</th>
          <td><%= data.properties.name %></td>
        </tr>

          <% if (data.properties.misspell_name.length != 0) {
                  nameIndex = data.properties.misspell_name.indexOf("3")
           } else {
                  nameIndex = 0
           }
          if (data.properties.misspell_capital.length != 0) {
                  capIndex = data.properties.misspell_capital.indexOf("3")
           } else {
                  capIndex = 0
           }
          nameLength = data.properties.misspell_name.length
              capitalLength= data.properties.misspell_capital.length %>
        <tr>
          <th scope="row">Alternative Answers for Capital</th>
                <td>
                 <% for (var i =0; i < capIndex; i++){  %>
                    <%= data.properties.misspell_capital[i]%>
                 <% } %>
                 </td>

        </tr>
        <tr>
          <th scope="row">Misspellings for Capital (3)</th>
          <td>
                <% for (var i =capIndex+1; i < capitalLength; i++){  %>
                      <%= data.properties.misspell_capital[i]%>
                    </br>
                   <% } %>
          </td>
        </tr>
        <tr>
          <th scope="row">Alternative Answers for Country</th>
          <td>
                  <% for (var i =0; i < nameIndex; i++){  %>
                      <%= data.properties.misspell_name[i] %>
                      </br>
                 <% } %>
          </td>
        </tr>
        <tr>
          <th scope="row">Misspellings for Country (3)</th>
                <td>
                  <% for (var i =nameIndex+1; i < nameLength; i++){  %>
                      <%= data.properties.misspell_name[i]%>
                    </br>
                  <%} %>
                  </td>
        </tr>
        <tr>
          <th scope="row">Geometry Type</th>
            <td>
                <%= data.geometry.type %>
            </td>
        </tr>
        <tr>
          <!-- <th scope="row">Geometry Coordinates</th>
            <td>
                <%= data.geometry.coordinates %>
            </td> -->
        </tr>


      </tbody>
    </table>
    <%} %>
      </div>
    <!-- <script src="dbFunctions.js" type="text/javascript" >
    </script> -->
  </body>

</html>
