<!DOCTYPE html>
<html>
  <head>
    <meta name="viewpoint" content="width=device-width, initial-scalre= 1">
    <title>CRUD for geoquiz</title>


        <!-- Load React. -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <!-- <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script> -->
        <!-- <script src="https://unpkg.com/@material-ui/core/umd/material-ui.production.min.js" crossorigin="anonymous"></script> -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Load our React component. -->
        <!-- <script src="like_button.js"></script> -->
        <!--  -->


  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Update</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Add new misspelling</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
    <% var data
        var result %>
    <div class="container">
      <form method="GET" action="/getCountryInfo">
          Enter country name: <input id="countryName" name="countryName" type="text">
         <input id ="getData" type="submit" value="submit">
      </form>


      <% if (result != undefined){ %>

            <p>This sdfa</p>

      <% } %>

      <% if (result == "success") { %>
          <% console.log(result=="success"); %>
            <p>This</p>

      <% } %>

    <%if (data != undefined){ %>
        <% data = data[0] %>
    <!-- <form class="form-horizontal" id ="updateData" method ="PUT" action ="/update" > -->
      <table class="table"  id="databaseTable" value= <%= data._id %> >
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Content</th>
          <th scope="col">Update</th>
        </tr>
      </thead>
      <tbody>
        <tr value = "continent">
          <th scope="row">Continent</th>
          <td><div id="continent" class="row_data" edit_type="click"><%= data.properties.continent %></div></td>
          <td>
              <span class="btn-save" style="visibility: hidden"><button class="btn btn-outline-info"> Save </button></span>
              <span class="btn-cancel" style="visibility: hidden"><button class="btn btn-outline-info"> Cancel </button></span>
          </td>
        </tr>
        <tr value ="capital">
          <th scope="row">Capital</th>
          <td><div id ="capital" class="row_data" edit_type="click" value ="0"><%= data.properties.capital[0] %></div></td>
          <td>
              <span class="btn-save" style="visibility: hidden"><button class="btn btn-outline-info" > Save </button></span>
              <span class="btn-cancel" style="visibility: hidden"><button class="btn btn-outline-info" > Cancel </button></span>
          </td>
        </tr>
        <tr value ="name" >
          <th scope="row">Country</th>
          <td><div id="name" class="row_data" edit_type="click"><%= data.properties.name[0] %></div></td>
          <td>
              <span class="btn-save" style="visibility: hidden"><button class="btn btn-outline-info"> Save </button></span>
              <span class="btn-cancel" style="visibility: hidden"><button class="btn btn-outline-info"> Cancel </button></span>
          </td>
        </tr>

        <tr value ="altCapital">
          <th scope="row">Alternative Answers for Capital</th>
                <td>
                  <% var capLen = data.properties.capital.length  %>
                   <% if ( capLen > 1){ %>
                      <% for (var i =1; i < capLen; i++ ){ %>
                        <div class="row_data" edit_type="click">
                          <%= data.properties.capital[i]%>
                        </div>
                    <%  } %>
                 <% } %>
               </td>
                <td>
                    <span class="btn-save" style="visibility: hidden"><button class="btn btn-outline-info"> Save </button></span>
                    <span class="btn-cancel" style="visibility: hidden"><button class="btn btn-outline-info"> Cancel </button></span>
                </td>

        </tr>
        <tr value ="misspell_capital">
          <th scope="row">Misspellings for Capital (3)</th>
              <td>
                <% var mCapLen = data.properties.misspell_capital.length  %>
                <% if (mCapLen !=0) { %>
                    <% for (var i =0; i < mCapLen; i++ ){ %>
                        <div class="row_data" edit_type="click">
                            <%= data.properties.misspell_capital[i]%>
                        </div>
                  <% } %>
               <% } %>

            </td>
              <td>
                  <span class="btn-save" style="visibility: hidden"><button class="btn btn-outline-info"> Save </button></span>
                  <span class="btn-cancel" style="visibility: hidden"><button class="btn btn-outline-info">Cancel </button></span>
              </td>
        </tr>
        <tr value ="altName">
          <th scope="row">Alternative Answers for Country</th>
              <td>
                <% var nameLen = data.properties.name.length  %>
                 <% if ( nameLen > 1){ %>
                    <% for (var i =1; i < nameLen; i++ ){ %>
                      <div class="row_data" edit_type="click">
                      <%= data.properties.name[i]%>
                      </div>
                  <%  } %>
               <% } %>
             </td>
             <td>
                 <span class="btn-save" style="visibility: hidden"><button class="btn btn-outline-info"> Save </button></span>
                 <span class="btn-cancel" style="visibility: hidden"><button class="btn btn-outline-info"> Cancel </button></span>
             </td>
        </tr>
        <tr value ="misspell_name">
          <th scope="row">Misspellings for Country (3)</th>
              <td>
                <% var mNameLen = data.properties.misspell_name.length  %>
                <% if (mNameLen !=0) { %>
                    <% for (var i =0; i < mNameLen; i++ ){ %>
                        <div class="row_data" edit_type="click">
                          <%= data.properties.misspell_name[i]%>
                       </div>
                <%  } %>
             <% } %>
            </td>
              <td>
                  <span class="btn-save" style="visibility: hidden"><button class="btn btn-outline-info"> Save </button></span>
                  <span class="btn-cancel" style="visibility: hidden"><button class="btn btn-outline-info"> Cancel </button></span>
              </td>
        </tr>
        <tr value ="geometry">
          <th scope="row">Geometry Type</th>
            <td>
              <div class="row_data" edit_type="click">
                <%= data.geometry.type %>
           </div></td>
            <td>
                <span class="btn-save" style="visibility: hidden"><button class="btn btn-outline-info"> Save </button></span>
                <span class="btn-cancel" style="visibility: hidden"><button class="btn btn-outline-info"> Cancel </button></span>
            </td>
        </tr>

        <!-- <tr>
          <th scope="row">Geometry Coordinates</th>
            <td>
                <span class="btn-edit" ><button class="btn btn-outline-info"> Edit </button></span>
              <div class="row_data" edit_type="click">
                    <%= data.geometry.coordinates%>

                        <br>
             </div></td>
            <td>
              <span class="btn-save" style="visibility: hidden"><button class="btn btn-outline-info"> Save </button></span>
              <span class="btn-cancel" style="visibility: hidden"><button class="btn btn-outline-info"> Cancel </button></span>
            </td>
        </tr> -->
        <%} %>
      </tbody>
    </table>


  </div>
    <!-- <script src="dbFunctions.js" type="text/javascript" >
    </script> -->
    <script type="text/javascript">
    $(document).on('click', '.row_data', function(event)
    {
    	event.preventDefault();

    	if($(this).attr('edit_type') == 'button')
    	{
    		return false;
    	}
      var tbl_row = $(this).closest('tr');

      tbl_row.find('.btn-save').css({"visibility": "visible"});
	    tbl_row.find('.btn-cancel').css({"visibility": "visible"});

      $(this).attr('original_entry', $(this).html());

    	//make div editable
    	$(this).closest('div').attr('contenteditable', 'true');
    	//add bg css
    	$(this).addClass('bg-warning').css('padding','5px');

    	$(this).focus();
    })


    $(document).on('click', '.btn-cancel', function(event)
    	{
    		event.preventDefault();
    		var tbl_row = $(this).closest('tr');
    	//	var row_id = tbl_row.attr('row_id');
    		//hide save and cacel buttons
    		tbl_row.find('.btn-save').css({"visibility": "hidden"});
    		tbl_row.find('.btn-cancel').css({"visibility": "hidden"});

    		//make the whole row editable
    		tbl_row.find('.row_data')
    		.attr('edit_type', 'click')
    		.removeClass('bg-warning')
    		.css('padding','')

    		tbl_row.find('.row_data').each(function(index, val)
    		{
    			$(this).html( $(this).attr('original_entry') );
    		});
    	});

    $(document).on('focusout', '.row_data', function(event)
    {
    	event.preventDefault();

    	if($(this).attr('edit_type') == 'button')
    	{
    		return false;
    	}
    	var row_div = $(this)
    	.removeClass('bg-warning') //add bg css
    	.css('padding','')
    })

    //Send Update Request
    $(document).on('click', '.btn-save', function(event)
    {
    	event.preventDefault();

    	var tbl_row = $(this).closest('tr');

      //Field to update in a database
      var field = tbl_row.attr('value');
      var id = $("#databaseTable").attr('value');
      //Formatting the data in an array form without empty strings.
      var newData = tbl_row.find('.row_data').text().trim().split('\n');
      newData = newData.map(s =>s.trim());
      newData = newData.filter(Boolean)
      console.log(newData)
      //send field: new array
      console.log(tbl_row.find('.row_data').text());
      console.log(field);

      //hide save and cacel buttons
      tbl_row.find('.btn-save').css({"visibility": "hidden"});
      tbl_row.find('.btn-cancel').css({"visibility": "hidden"});

      var name; //can be capital or name depending on what field to update
      if (field == "altCapital"){
        name = $("#capital").html()
      }
      else{
        name = $('#name').html();
      }
      console.log("name ---- " +name)


// console.log(dataToSend)
      $.ajax({
        url: '/update',
        type: 'PUT',

        contentType: 'application/json',
        data: JSON.stringify({
          id: id,
          name: name,
          field: field,
          value: newData
        }),
        dataType: 'json',
        success: function(data){
          console.log(data)
          console.log("Success update request")
        }
      });

    });

    </script>
  </body>
  <!-- <script type="text/javascript" src="functions2.js"></script> -->

</html>
